# Results (ATTENZIONE, POTREBBERO ESSERE TROPPO GRANDI, PERò NON SI SA)
results/tv/
results/end_to_end/
results/dps/
results/pnp/

# Keep figures
!results/figures/

# Python
__pycache__/
*.pyc
*.pyo
.env

# Jupyter checkpoints
.ipynb_checkpoints/

#tutte le immagini in data
data/**/*.npy
data/raw/**/*.png
data/preprocessed/**/*.npy
data/sinogram_clean/**/*.npy
data/sinogram_corrupted/**/*.npy
data/reco/**/*.npy
data/lambda_choice/angles*/**/*.png

#tutti i weights
*.pth
