# Results (ATTENZIONE, POTREBBERO ESSERE TROPPO GRANDI, PERò NON SI SA)
results/tv/
results/end_to_end/
results/dps/
results/pnp/

# Keep figures
!results/figures/

# Python
__pycache__/
*.pyc
*.pyo
.env

# Jupyter checkpoints
.ipynb_checkpoints/

# Dataset
data/raw/
data/dataset/
data/preprocessed/
data/sinogram_clean/
data/sinogram_corrupted/
data/reco/
data/lamda_choice/

#tutte le immagini
*.png
*.npy

#tutti i weights
*.pth
